<html th:replace="admin_base::layout(~{::section})">

<body>
	<section>
		<main id="main" class="main">

			<div class="pagetitle">
				<h1>Lumbini ICT Campus</h1>

			</div><!-- End Page Title -->


			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Statement</h5>

					<!-- Default Table -->
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Date</th>
								<th scope="col">Payment ID</th>
								<th scope="col">Student ID</th>
								<th scope="col">Amount</th>
								<th scope="col">Received By</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="e:${statement}">
								<th th:text="${#temporals.format(e.paymentDate, 'yyyy-MM-dd')}"></th>
								<td th:text="${e.paymentId}"></td>
								<td th:text="${e.user.uid}"></td>
								<td th:text="${e.amount}"></td>
								<td th:text="${e.receivedBy.email}"></td>
							</tr>

						</tbody>
					</table>
					<!-- End Default Table Example -->
				</div>
			</div>

		</main><!-- End #main -->
	</section>
</body>

</html>